/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: var(--size-20);
}

.header-logo,
.nav,
.navbar-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  max-width: var(--size-150);
}

.nav-link {
  margin: 0 var(--size-10);
}

.navbar-nav a {
  color: var(--font-color-base);
}

.navbar-nav a:hover {
  color: var(--blue);
}

.btn:hover {
  font-weight: 700;
}

.nav .btn {
  margin-left: var(--size-20);
}

/*hero section*/
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--size-50);
  margin-bottom: var(--size-150);
}

.hero-left,
.hero-right {
  width: 30rem;
  height: 30rem;
}

.hero-left h1 {
  font-size: var(--size-40);
  font-weight: 500;
  color: var(--black);
  line-height: 3rem;
  margin-bottom: var(--size-10);
}


.hero-left .btn {
  margin-right: var(--size-20);
}

.btn-play img {
  width: var(--size-18);
  height: var(--size-18);
  margin-right: var(--size-10);
}

.hero-right {
  display: flex;
  position: relative;
}

.logo-icon {
  width: var(--size-80);
  height: var(--size-80);
  position: absolute;
  background: var(--white);
  padding: var(--size-16);
  border-radius: 50%;
  box-shadow: 0rem 0.1875rem 0.8125rem rgba(0, 0, 0, 0.25);
}

.position-1 {
  left: 4rem;
  top: var(--size-10);
}

.position-2 {
  left: 10.9375rem;
  top: var(--size-10);
}

.position-3 {
  left: 23.75rem;
  top: var(--size-10);
}

.position-4 {
  left: 2.75rem;
  top: 10.75rem;
}

.position-5 {
  left: 17.25rem;
  top: 10.75rem;
}

.position-6 {
  left: 11.125rem;
  top: 18.125rem;
}

.position-7 {
  left: 22.75rem;
  top: 19.375rem;
}

.logo-icon-sm {
  width: 3.75rem;
  height: 3.75rem;
  padding: var(--size-10);
}


.hero-background {
  width: 64rem;
  height: 32.3125;
  position: absolute;
  top: 0;
  left: 15.625rem;
}

.vector-1 {
  fill: #E1E7EF;
  position: relative;
  right: 0;
  top: 0;
  z-index: -1;
}

.vector-2 {
  fill: url(#gradient1);
  position: relative;
  left: 0;
  top: -32.75rem;
  z-index: -1;
}

.stop-1 { 
  stop-color: rgba(217, 217, 217, 0.44);
  stop-opacity: 0.18;
}
  
.stop-2 {
  stop-color: rgba(217, 217, 217, 1);
  stop-opacity: 0.56
}

/*Benefits section*/
.benefits {
  margin-bottom: var(--size-100);
}
.title {
  text-align: center;
  margin-bottom: var(--size-50);
}

.title h2 {
  color: var(--black);
  font-size: var(--size-30);
  margin-bottom: var(--size-10);
}

.title p {
  font-size: var(--size-16);
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: var(--size-30);
  padding: var(--size-10) 0;
}

.benefit-item {
  padding: var(--size-20);
  background-color: var(--white);
  border: 0.0625rem solid var(--white);
  box-shadow: 0rem var(--size-10) var(--size-20) rgba(0, 0, 0, 0.15);
}

.item-img {
  width: 3rem;
  height: 3rem;
}

.benefit-item h3 {
  color: var(--black);
}

.benefit-item > a {
  color: var(--blue);
  font-weight: 700;
}

.item-premium {
  display: flex;
  align-items: center;
}

.item-premium .btn {
  margin-left: var(--size-10);
}

/*banner section*/
.banner {
  display: flex;
  margin-bottom: var(--size-100);
}

.banner-left {
  padding: var(--size-10) var(--size-30);
}

.banner-left h2 {
  font-size: var(--size-30);
  font-weight: 500;
  color: var(--black);
  line-height: 1.2;
}

/*why front*/
.why-front {
  margin-bottom: var(--size-100);
}

.bullets-list,
.bullets,
.bullet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets {
  flex-direction: column;
}

.line {
  width: 5.65625rem;
  height: 0.0625rem;
  background-color: var(--light-gray);
}

.circle {
  width: var(--size-50);
  height: var(--size-50);
  background-color: var(--light-gray);
  border-radius: var(--size-50);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle span {
  color: var(--blue);
}

.none {
  color: transparent;
}

/*banner play*/
.banner-frame {
  position: relative;
  margin-bottom: var(--size-80);
}

.play-banner {
  background-image: url(../assets/banners/banner_two.jpg);
  background-color: var(--light-gray);
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 60.25rem;
  margin: auto;
}

.play-btn {
  width: var(--size-70);
  height: var(--size-70);
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem var(--size-10) rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 10.75rem;
  left: 30.4375rem;
}

.play-btn img {
  width: var(--size-20);
  height: var(--size-20);
}

/*hubspot feature*/
.feature {
  display: flex;
  padding-bottom: var(--size-100);
}

.feature-left {
  padding-left: 3.4375rem;
  position: relative;
  padding-bottom: 3.4375rem;
}

.feature-profile {
  width: 23.1875rem;
  height: 26.5625rem;
}

.feature-dots {
  width: 12.5rem;
  position: absolute;
  left: 0;
  top: 6.5rem;
  z-index: -1;
}

.feature-right {
  margin: auto;
  padding-left: var(--size-50);
  padding-right: var(--size-20);
}

.feature-logo {
  max-width: var(--size-100);
  margin-bottom: var(--size-20);
}

.feature-description p {
  font-size: 1.375rem;
  color: var(--black);
  margin-bottom: var(--size-50);
}

.feature-person h3 {
  font-size: var(--size-18);
  color: var(--black);
  margin-bottom: 0;
}

.feature-person p {
  font-weight: 700;
}

/*brands*/
.brands-section {
  margin-bottom: var(--size-80);
}

.brands-section h2 {
  text-align: center;
}

.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--size-100), 1fr));
}

.brand {
  padding: var(--size-20) var(--size-40);
}